[submodule "components/badge-bsp"]
	path = components/badge-bsp
	url = https://github.com/badgeteam/esp32-component-badge-bsp
[submodule "components/ndef"]
	path = components/ndef
	url = https://badgeteam@github.com/badgeteam/esp32-component-ndef
